@import './variables.scss';
@import './mixins.scss';
@import 'sass-rem';

div[role='button'],
button {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: rem(4px);
  height: rem(4px);
}

/* Track */
::-webkit-scrollbar-track {
  background: $grey-300;
  border-radius: rem(8px);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $grey-400;
  border-radius: rem(8px);
}
