@import '~/styles/variables.scss';

.sidebar_container {
  .drawer_cotainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $purple_231;
    .logo_box {
      padding: rem(8px) rem(25px) rem(8px) rem(28px);
    }
    .drawer {
      color: $white;
      svg {
        fill: $white;
      }
      .selected_tab {
        background: $alpha;
        border-left: 3px solid $purple_primary;
      }
    }
    .btn_expanded_container {
      margin: 10px;
      text-align: center;
      .btn_expanded {
        background-color: $alpha;
        width: rem(30px);
        height: rem(35px);
        min-width: fit-content;
        border-radius: 50%;
        svg {
          fill: $white;
        }
      }
    }
  }
}
